/*Sample: https://github.com/horatio-mulholland/odin-sign-up-form/blob/main/style.css*/
:root{
    --color: #5e545a;
    --txt: rgb(10, 10, 10)
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Norse-Bold', sans-serif;
    color: var(--txt);

    /* outline: 1px solid red; */
}

@font-face {
    font-family: NorseBold;
    src: url(./photos/Norse-Bold.otf);
}

#logo h1 {
    font-family: NorseBold;
    font-size: 4rem;
    color: white;
    margin: 0;
}

/*.content {
    width: 100vw;
    height: 100vh;
}*/

#title{
    display:flex;
    color:blue;
}



body {
    width: min(1440px, 100vw);
    aspect-ratio: 1440 / 1024;
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

#left {
    flex: 0.6;
/*    padding-left: 3vw;*/
    background-image: url(./photos/sailingform.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3vw;
}


#logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
/*    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin-top: 9rem;*/
}

#logo img {
    height: 50rem;
}

#logo h1 {
    font-family: NorseBold;
    font-size: 4rem;
    color: white;
    margin: 0;
}

/* right side */




#right{
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* form */

/*#right{
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}*/

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin-top: 9rem;
    margin-right: 4rem;
}

#logo img {
    height: 5rem;
}

input{
    background-color: rgb(237, 247, 247);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid var(--color);
}

#lowbutton button:hover{
    background-color: var(--color);
    color: black;
    
}

a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: white;
}

#middle {
    flex: 1;
    background-color: white;
    box-shadow: 0px 3px 8px -4px grey;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#middle #title {
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
}

#middle p :not(#title) {
    display: flex;
    flex-direction: column;
}

#middle label {
    text-transform: uppercase;
    font-size: 0.5rem;
}

#middle input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}

#middle input:focus {
    border: 1px solid blue;
    box-shadow: 3px 3px 8px -4px grey;
}

#middle input:invalid {
    border: 1px solid red;
}

/*button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}*/

#lowbutton button {
    background-color: #596D48;
/*    border: none;*/
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: 3px 3px 8px -4px grey;
    padding: 10px 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin: 40px;
}

#lowbutton p {
    margin-bottom: 40px;
    margin-left: 40px;
}

#left p{
    margin-bottom: 40px;
    font-size:0.8em;
    margin-left: 40px;
}

#lower {
    flex: 1;
    padding: 2rem;
}

#upper {
    flex: 1;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
}
